body {
    height: 3000px;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
header {
    height: 100px;
    background-color: royalblue;
    z-index: 9999
}

.container {
    z-index: 1
}
nav .ListNav {
    display: flex
}

.ListNav a {
    background-color: white;
    color: black;
    padding: 20px
}

.ListNav li {
    list-style: none
}

.sticky {
    position: fixed;
    width: 100%;
    animation: fadeIn 0.25s linear
}

@keyframes fadeIn {
    from{
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0)
    }
}